@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro&subset=latin,cyrillic");
.titletitle {
  font-family: 'Anonymous Pro';
}
.mainscreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  color: #131313;
}
.titletitle {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.4375rem;
}
.footer {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding-bottom: 2rem;
  font-size: 0.875rem;
}
.sharing {
  border-top: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.sharing>span {
  margin-left: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sharing>span:nth-child(1) {
  margin-left: 1.25rem;
}
.boldnum {
  font-weight: 600;
}
@media (min-width: 700px) {
  .titletitle {
    font-size: 4rem
  }
}